/* *** CSS Reset *** */

/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* ====================== +++++++++ ====================== +++++++++  */


/* *** Fonts *** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');



/* *** Utilities *** */
* {
  font-family: 'Poppins', sans-serif;
}

.modalskeun > .modal-dialog >
.modal-content.modal-success > 
.modal-footer > 
svg,
.modalskeun > .modal-dialog >
.modal-content.modal-error > 
.modal-footer > 
svg ,
.modalskeun > .modal-dialog >
.modal-content.modal-info > 
.modal-footer > 
svg ,
.modalskeun > .modal-dialog >
.modal-content.modal-warning > 
.modal-footer > 
svg  {
  margin-bottom: -3px;
}

/* ___Animation___ */
/* @keyframes fade {
  0%{
    background-color: rgba(0,0,0,0);
    display: flex;
  }
  100%{
    background-color: rgba(0,0,0,.5);
  }
}
.fade-in {
  animation: fade .5s forwards;
}

@keyframes fade-top{
  0% {
    opacity: 0;
    transform: translateY(-50px);
  } 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-top {
  animation: fade-top .4s .5s forwards;
}

@keyframes fade-top-out{
  0% {
    opacity: 1;
    transform: translateY(0);
  } 
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.fade-top-out {
  animation: fade-top-out .3s .6s ease-in-out forwards;
}

@keyframes fade-out {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100% {
    display: none;
  }
}
.fade-out {
  animation: fade-out 1s forwards;
} */

/* ____Test____ */
.wraper > button {
  background-color: rgb(255, 208, 0); 
  padding: 6px 30px; 
  border-radius: 6px; 
  margin-top: 20px;
  position: relative;
}

/* ___modalskeun___ */
.modalskeun {
  border: none;
}

.modalskeun > .modal-dialog >
.modal-content {
  display: block;
  width: 330px;
  height: 370px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  opacity: 1;
}

.modalskeun > .modal-dialog >
.modal-content::before {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  background-color: #000;
  border-radius: 20px 20px 0 0;
}

.circle {
  display: flex;
  border-radius: 100%;
  background-color: #000;
  text-align: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.modalskeun > .modal-dialog >
.modal-content > 
.modal-body {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.modalskeun > .modal-dialog >
.modal-content > 
.modal-body > 
h1,
.modalskeun > .modal-dialog >
.modal-content > 
.modal-body > 
p {
  margin-left: 15px;
  margin-right: 15px;
}
.modalskeun > .modal-dialog >
.modal-content > 
.modal-body > h1 {
  font-size: 40px;
  font-weight: 600;
}

.modalskeun > .modal-dialog >
.modal-content > 
.modal-body > p {
  font-size: 25px;
  font-weight: 500;
}

.modalskeun > .modal-dialog >
.modal-content > 
.modal-footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  border-radius:0 0 20px 20px ;
}

.modalskeun > .modal-dialog >
.modal-content > 
.modal-footer > 
button {
  font-size: 25px;
  background-color: #000;
  color: #fff;
  width: 180px;
  height: 40px;
  padding: 5px 0;
  text-align: center;
  border-radius: 20px;
  bottom: 0;
  z-index: 2;
  position: inherit;
  bottom: 35px;
}

.modalskeun > .modal-dialog >
.modal-content > 
.modal-footer > 
svg {
  position: inherit;
  bottom: -30px;
  z-index: 1;
}
.modalskeun > .modal-dialog >
.modal-content
.modal-header,
.modalskeun > .modal-dialog >
.modal-content
.modal-footer {
  border: none;
}

/* ___modal child success___ */
.modalskeun > .modal-dialog >
.modal-content.modal-success::before {
  background-color: #75db92;
}
.modalskeun > .modal-dialog >
.modal-content.modal-success > 
.modal-header  > 
.circle {
  background-color: #07B838;
  box-shadow: 1px 1px 7px 4px rgba(9, 199, 85, 0.58);
}
.modalskeun > .modal-dialog >
.modal-content.modal-success > 
.modal-body {
  color: #07B838;
}

.modalskeun > .modal-dialog >
.modal-content.modal-success > 
.modal-footer > 
button {
  background-color: #07B838;
  box-shadow: 0px 4px 4px #07B838;
}
.modalskeun > .modal-dialog >
.modal-content.modal-success > 
.modal-footer > 
svg > path {
  fill: #75db92;
}

/* ___modal child error */
.modalskeun > .modal-dialog >
.modal-content.modal-error::before {
  background-color: #d39595;
}
.modalskeun > .modal-dialog >
.modal-content.modal-error > 
.modal-header  > 
.circle {
  background-color: #C70909;
  box-shadow: 1px 1px 7px 4px rgba(199, 9, 9, 0.58);
}
.modalskeun > .modal-dialog >
.modal-content.modal-error > 
.modal-body {
  color: #C70909;
}

.modalskeun > .modal-dialog >
.modal-content.modal-error > 
.modal-footer > 
button {
  background-color: #C70909;
  box-shadow: 0px 4px 4px #C70909;
}
.modalskeun > .modal-dialog >
.modal-content.modal-error > 
.modal-footer > 
svg > path {
  fill: #d39595;
}

/* ___modal child info */
.modalskeun > .modal-dialog >
.modal-content.modal-info::before {
  background-color: #549adb;
}
.modalskeun > .modal-dialog >
.modal-content.modal-info > 
.modal-header  > 
.circle {
  background-color: #096CC7;
  box-shadow: 1px 1px 7px 4px rgba(9, 108, 199, 0.58);
}
.modalskeun > .modal-dialog >
.modal-content.modal-info > 
.modal-body {
  color: #096CC7;
}

.modalskeun > .modal-dialog >
.modal-content.modal-info > 
.modal-footer > 
button {
  background-color: #096CC7;
  box-shadow: 0px 4px 4px #096CC7;
}
.modalskeun > .modal-dialog >
.modal-content.modal-info > 
.modal-footer > 
svg > path {
  fill: #549adb;
}

/* ___modal child info */
.modalskeun > .modal-dialog >
.modal-content.modal-warning::before {
  background-color: #e4da7f99;
}
.modalskeun > .modal-dialog >
.modal-content.modal-warning > 
.modal-header  > 
.circle {
  background-color: #FA8803;
  box-shadow:1px 1px 7px 4px rgba(250, 136, 3, 0.58);
}
.modalskeun > .modal-dialog >
.modal-content.modal-warning > 
.modal-body {
  color: #FA8803;
}

.modalskeun > .modal-dialog >
.modal-content.modal-warning > 
.modal-footer > 
button {
  background-color: #FA8803;
  box-shadow: 0px 4px 4px #FA8803;
}
.modalskeun > .modal-dialog >
.modal-content.modal-warning > 
.modal-footer > 
svg > path {
  fill: #fabd76;
}